@font-face {
	font-family: 'mr_KillCrazyBBG';
	src: url('../fonts/mr_KillCrazyBBG.otf') format("opentype");
	font-weight: 500;
	font-style: normal;
}

:root {
	--main-bg-color-1: #000000;
	--main-bg-color-2: #fff;
	--main-color-1: #bd510c;
	--main-color-2: #fff;
}

body {
	background: var(--main-bg-color-1) url("../img/background.jpg") no-repeat;
	background-size: 100% auto;
	background-position: top;
	font-family: mr_KillCrazyBBG;
}

.main {
	background: var(--main-bg-color-2);
}

nav {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 0px;
}

nav span.menu_button {
	display: inline-block;
	margin-right: 2px;
	font-size: 25px;
	text-align: center;
	padding: 5px 0 5px 0px;
	background: var(--main-color-1);
	/*border-bottom: 3px solid var(--main-color-1);*/
	color: var(--main-color-2);;
}

nav span.menu_button:last-child {
	margin-right: 0px;
}

nav span.menu_button:hover {
	background: var(--main-color-1) url("../img/pumpkin.png") no-repeat;
	background-size: 55px auto;
	background-position: 12px 0px;
	/*border-bottom: 3px solid var(--main-bg-color-1);*/
	cursor: pointer;
}

header .slider {
	margin-left: -15px;
	margin-right: -15px;
}

header .slider div {
	height: 350px;
	position: relative;
}

header .slider div span {
	position: absolute;
	right: 30px;
	bottom: 0px;
	font-size: 72px;
	color: var(--main-color-2);
}

section.product_box {
	margin: 30px 20px 30px 20px;
}

section.product_box h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.product {
	min-height: 250px;
	margin-bottom: 30px;
	/*border: 1px solid var(--main-color-1);*/
}

.product .product_pic {
	min-height: 270px;
}

.product .product_name {
	font-size: 20px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product .product_price {

}

.product button {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 66%;
	margin-left: -33%;
	display: block;
	background: #bd510c;
	border: none;
	text-transform: uppercase;
	padding: 10px 30px 10px 30px;
	font-weight: bold;
	color: white;
	display: none;
}

.product:hover button {
	display: block;
}

footer {
	min-height: 100px;
	margin-right: -15px;
	margin-left: -15px;
	background: var(--main-color-1);
	color: var(--main-color-2);
	text-align: center;
	font-size: 20px;
	line-height: 95px;

}

/* Popup window style */
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: default;
}

.popup {
	position: fixed;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	height: 500px;
	top: 50%;
	margin-top: -250px;
	z-index: 1000;
	display: none;
	background: #fff;
	padding: 20px;
}

/* Sale order */
.popup h3 {
	border-bottom: 1px solid var(--main-color-1);
	color: var(--main-color-1);
	padding-top: 5px;
	padding-bottom: 10px;
}

.popup .close_popup {
	font-size: 30px;
	position: absolute;
	top: 25px;
	right: 35px;
	color: var(--main-color-1);
	cursor: pointer;
}

.popup input[type=text] {
	display: block;
	width: 100%;
	margin-top: 20px;
	border: none;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
}

.popup textarea {
	margin-top: 20px;
	border: none;
	width: 100%;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	padding: 10px;
	min-height: 150px;
}

.popup button {
	display: block;
	background: #bd510c;
	border: none;
	text-transform: uppercase;
	padding: 10px 30px 10px 30px;
	font-weight: bold;
	color: white;
	width: 300px;
	margin: 10px auto;
}